<ng-container class="content">
  <header>
    <div class="container">
      <div class="initial-content">
        <div class="menu">
          <div class="menu-text">
            <span>Blog</span>
            <span>Sobre</span>
            <span>Descrição</span>
          </div>
        </div>
        <div class="name-description">
          <img src="assets/dog.jpg" alt="Foto perfil" class="profile-picture" />
          <div class="text-content">
            <h1 class="name">Titulo da página</h1>
            <p class="text">
              Lorem ipsum dolor sit amet. Ut galisum aliquid qui vitae odit in
              voluptates quisquam? Nam labore suscipit et dicta quae qui numquam
              quisquam vel quia voluptatem. Sit ducimus soluta ea voluptates
              fuga ea tempora quae. Eum voluptate autem in perferendis inventore
              est minima tempore.
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="body">
    <h1 class="title">Últimas do blog</h1>
    <h2 class="secondary-title">5 dicas para sua carreira profissional</h2>
    <p class="text">
      Confira aqui algumas dicas que podem te ajudar como desenvolver front-end
    </p>

    <h2 class="secondary-title">5 dicas para sua carreira profissional</h2>
    <p class="text">
      Confira aqui algumas dicas que podem te ajudar como desenvolver front-end
    </p>

    <h2 class="secondary-title">5 dicas para sua carreira profissional</h2>
    <p class="text">
      Confira aqui algumas dicas que podem te ajudar como desenvolver front-end
    </p>
    <div class="button-see-more">
      <button class="btn btn-primary">Ver mais</button>
    </div>
  </section>
</ng-container>
